[user]
	email = hungtranduy.dev@gmail.com
	name = hungtrd
[core]
	editor = vim
[alias]
  s = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  cb  = "!f(){ git checkout -b $1;};f"
